.cover{
    background-image: url(../img/cover.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 300px;
    clear: both;
}

img{
    width: 180px;
    height: 180px;
    float: left;
    margin-top: 175px;
    margin-left: 100px;
    border: solid 10px #fff;
}

h1{
    color: #fff;
    padding-top: 235px;
    margin-left: 340px;
    
}