h1{
    word-spacing: 5px;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    margin-bottom: 100px;
}

body img{
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-image: linear-gradient(#fcbf16 , #992154);
    background-repeat: no-repeat;
    height: 93vh;
    
}